@using FlashcardApp.Common
@using FlashcardApp.Services
@using System.Linq.Expressions

@inherits LayoutComponentBase

@inject ItemService ItemService
@inject NavigationManager Navigation

@if (_items is null or []) { return; }

<div>
    <MudStack Class="gap-2">
        <MudStack Row=@true Class="gap-5">
            <MudStack Row=@true Class="w-[200px]">
                <MudSelect 
                    @ref=@_columnNumberSelect T=@string Label="Column Count" Variant=@Variant.Outlined
                    AnchorOrigin=@Origin.BottomCenter Required=@false Clearable=@true Value=@_columnNumberSelected ValueChanged=@OnColumnNumberChanged ShrinkLabel>

                    @for (int i = 0; i < _items[0].Fields.Count; i++)
                    {
                        <MudSelectItem T=@string Value=@($"{i + 1}") />
                    }
                </MudSelect>
            </MudStack>
            @if (_mudDataGrid is not null && _mudDataGrid.SelectedItems.Count() > 0)
            {
                <MudIconButton Icon=@Icons.Material.Filled.Delete Color=Color.Secondary Edge=@Edge.Start OnClick=@OnItemDelete />
            }
            <MudStack Row=@true Class="gap-4 items-center" Style="flex-direction: row-reverse;">
                <MudText Typo="Typo.h6" Class="text-bold text-sm">Selection</MudText>
                <MudSwitch T=@bool Color=@Color.Primary ValueChanged=@OnMultiSelectionChanged Class="items-center justify-center" />
            </MudStack>
            <MudSelect T=@string Label="Tags" MultiSelection=@true SelectedValuesChanged=OnTagsSelectedValuesChanged>
                @foreach (var tag in _tags)
                {
                    <MudSelectItem T=@string Value=@tag>@tag</MudSelectItem>
                }
            </MudSelect>
        </MudStack>
        <MudDataGrid 
            @ref=_mudDataGrid T=@Entities.Item Items=@_items Filterable=false Bordered=false Hover=true RowClick=@OnItemClick 
            Outlined=false RowsPerPage=@_rowsPerPageSelected Elevation=0 MultiSelection=@_multiSelection
            SelectedItemsChanged=@OnSelectedItemsChanged>
            <Columns>
                @if (_multiSelection)
                {
                    <SelectColumn T=@Entities.Item />
                }
                @for (int i = 0; i < (_columnNumber > 0 && _columnNumber < _items[0].Fields.Count ? _columnNumber : _items[0].Fields.Count); i++)
                {
                    int j = i;
                    var k = _items[0].Fields.IndexWhere(f => f.Id == ItemTemplateFieldsOrder[j]);
                    var fieldName = _items[0].Fields[k].Name;
                    if (fieldName.Contains("audio", StringComparison.OrdinalIgnoreCase))
                    {
                        <PropertyColumn 
                            Property=@(item => item.Fields[item.Fields.IndexWhere(f => f.Id == ItemTemplateFieldsOrder[j])].Value) 
                            Title=@fieldName 
                            Filterable=false>
                            <CellTemplate>
                                <div>
                                @{
                                    var item = context.Item;
                                    var fieldValue = item.Fields[item.Fields.IndexWhere(f => f.Id == ItemTemplateFieldsOrder[j])].Value;
                                }
                                @if (fieldValue.StartsWith("data:audio/mpeg;base64"))
                                {
                                    <audio controls src=@fieldValue class="bg-purple-100 rounded-lg">
                                        Your browser does not support the audio element.
                                    </audio>
                                }
                                </div>
                            </CellTemplate>
                        </PropertyColumn>
                    }
                    else
                    {
                        <PropertyColumn 
                            Property=@(item => item.Fields[item.Fields.IndexWhere(f => f.Id == ItemTemplateFieldsOrder[j])].Value) 
                            Title=@fieldName 
                            Filterable=false />
                    }
                }
                <PropertyColumn
                    T=@Entities.Item
                    TProperty=@(@Entities.Item)
                    Property=@(item => item)
                    Title="Tags" 
                    Filterable=false>
                    <CellTemplate>
                        <ClosableChipSet 
                            Items=@context.Item.Tags 
                            IsEditable=@false
                            IsTitleShown=@false />
                    </CellTemplate>
                </PropertyColumn>
            </Columns>
            <PagerContent>
                <MudStack Row=true Style="width: 100%;">
                    <div class="m-2 w-[150px]">
                        <MudSelect T=@int
                                   Label="Rows Per Page"
                                   SelectedValues=@([_rowsPerPageSelected])
                                   SelectedValuesChanged=@(items => {
                                   _rowsPerPageSelected = items.First();
                                   _rangeArg = _rangeArg with 
                                   {  
                                       Start = 0,
                                       Limit = _rowsPerPageSelected 
                                   };
                                   return RefreshView();
                                   })>
                            @foreach (var rowsPerPage in _rowsPerPage)
                            {
                                <MudSelectItem T=@int Value=@rowsPerPage>@rowsPerPage</MudSelectItem>
                            }
                        </MudSelect>
                    </div>
                    <MudStack Row=true Class="w-full justify-right" Style="width: 100%; display: flex; justify-content: right;">
                        <div class="mud-table-pagination-caption">
                            <div class="mud-table-page-number-information">
                                <span>@_rangeDTO.Start</span>
                                -
                                <span>@(Math.Min(_rangeDTO.Limit + _rangeDTO.Start, _rangeDTO.TotalCount))</span>
                                of
                                <span>@(_rangeDTO.TotalCount)</span>
                            </div>
                        </div>
                    </MudStack>
                    <div style="display: flex; justify-content: right;">
                        @if (_rangeDTO.Start >= _rangeDTO.Limit && _rangeDTO.TotalCount >= _rangeDTO.Limit)
                        {
                            <MudIconButton Class="mud-flip-x-rtl" Icon=@Icons.Material.Outlined.KeyboardDoubleArrowLeft @onclick=@OnFirstPage aria-label="First page" />
                        }
                        @if (_rangeDTO.Start >= _rangeDTO.Limit)
                        {
                            <MudIconButton Class="mud-flip-x-rtl" Icon=@Icons.Material.Outlined.KeyboardArrowLeft @onclick=@OnPrevPage aria-label="Previous page" />
                        }
                        @if (_rangeDTO.TotalCount >= _rangeDTO.Limit && _rangeDTO.Start + _rangeDTO.Limit < _rangeDTO.TotalCount)
                        {
                            <MudIconButton Class="mud-flip-x-rtl" Icon=@Icons.Material.Outlined.KeyboardArrowRight @onclick=@OnNextPage aria-label="Next page" />
                        }
                        @if (_rangeDTO.Start < (_rangeDTO.TotalCount - _rangeDTO.Limit) && _rangeDTO.TotalCount >= _rangeDTO.Limit)
                        {
                            <MudIconButton Class="mud-flip-x-rtl" Icon=@Icons.Material.Outlined.KeyboardDoubleArrowRight @onclick=@OnLastPage aria-label="Last page" />
                        }
                    </div>
                </MudStack>
            </PagerContent>
        </MudDataGrid>
    </MudStack>
</div>

@code {
    private const int DefaultRowsPageCount = 25;

    [Parameter] public string? CollectionId { get; set; }
    [Parameter] public string[]? ItemTemplateFieldsOrder { get; set; }

    public Func<RangeDTO> GetRangeDTO => () => _rangeDTO;

    private Entities.Item[]? _items { get; set; }
    private RangeDTO? _rangeDTO { get; set; }
    private string[]? _tags { get; set; }
    private int[]? _rowsPerPage = [10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100];
    private int _rowsPerPageSelected = DefaultRowsPageCount;

    private string _tagValue = "Nothing selected";
    public List<string> TagsSelected { get; private set; } = [];

    private MudDataGrid<Entities.Item>? _mudDataGrid;

    private MudSelect<string>? _columnNumberSelect;
    private string? _columnNumberSelected;
    private int _columnNumber = 3;

    private bool _multiSelection;

    private RangeArg _rangeArg = new(0, DefaultRowsPageCount);

    protected override async Task OnInitializedAsync()
    {
        _rangeArg = new(0, _rowsPerPageSelected);

        await RefreshDTO();

        if (_columnNumber > 0)
            _columnNumberSelected = _columnNumber.ToString();
    }

    private async Task OnTagsSelectedValuesChanged(IEnumerable<string> selected)
    {
        TagsSelected.Clear();
        TagsSelected.AddRange(selected);
        await RefreshView();
    }

    private Task OnMultiSelectionChanged(bool value)
    {
        _multiSelection = value;
        return InvokeAsync(StateHasChanged);
    }

    private async Task OnColumnNumberChanged(string columnNumber)
    {
        _columnNumberSelected = columnNumber;
        if (!int.TryParse(columnNumber, out _columnNumber))
            _columnNumber = -1;
    }

    private async Task OnSelectedItemsChanged(HashSet<Entities.Item> args)
    {
        await RefreshView();
    }

    private async Task OnItemClick(DataGridRowClickEventArgs<Entities.Item> args)
    {
        Navigation.NavigateTo($"/collections/{CollectionId}/items/{args.Item.Id}");
    }

    private async Task OnItemDelete()
    {
        await ItemService.Delete(_mudDataGrid.SelectedItems.Select(i => i.Id));
        await RefreshView();
    }

    private async Task OnPrevPage()
    {
        _rangeArg = new RangeArg(Math.Max(_rangeArg.Start - _rangeArg.Limit, 0), _rangeArg.Limit);
        await RefreshDTO();
    }

    private async Task OnNextPage()
    {
        _rangeArg = new RangeArg(_rangeArg.Start + _rangeArg.Limit, _rangeArg.Limit);
        await RefreshDTO();
    }

    private async Task OnFirstPage()
    {
        _rangeArg = new RangeArg(0, _rangeArg.Limit);
        await RefreshDTO();
    }

    private async Task OnLastPage()
    {
        var lastPageItemsCount = _rangeDTO.TotalCount % _rangeArg.Limit;
        lastPageItemsCount = lastPageItemsCount == 0 ? _rangeArg.Limit :  lastPageItemsCount;

        _rangeArg = new RangeArg((_rangeDTO.TotalCount - lastPageItemsCount), _rangeDTO.Limit);
        await RefreshDTO();
    }

    public async Task RefreshDTO()
    {
        var itemsData = await ItemService.GetRange(
                CollectionId,
                _rangeArg,
                modifiers: [new(TagsSelected.ToArray())]);

        _items = itemsData.Items;
        _rangeDTO = itemsData.Range;
        _tags = itemsData.Tags;
    }

    public async Task RefreshView()
    {
        await RefreshDTO();
        await InvokeAsync(StateHasChanged);
    }
}
